.hero-section {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100vh;

    .image-container {
        flex: 1;

        img {
            max-width: 100%;
            height: 100vh;
            transition: opacity 0.2s ease-in-out;
        }
    }

    .text-container {
        flex: 1;
        color: $primary-color;
        padding-left: 100px;

        .value {
            padding-right: 100px;

            h1 {
                font-size: 68px;
                margin-bottom: 10px;
                font-family: $font-family-base;
                font-weight: 500;
            }

            p {
                font-size: 18px;
                color: #2C1500;
                margin-bottom: 20px;
                font-family: $font-family-base;
            }
        }

        .buttons {
            height: 20vh;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;

            p {
                color: #333333;
                margin-bottom: 1vh;
                transition: opacity 0.2s ease-in-out;
            }
        }
    }

    .fade {

        img,
        h1,
        p {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }
    }

    @media (max-width: 1000px) {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        height: 100vh;

        .image-container {
            img {
                max-width: 80%;
                height: auto;
            }
        }

        .text-container {
            padding-left: 0;

            .value {
                padding-right: 0;

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }

            .buttons {
                justify-content: center;
            }
        }
    }

    @media (max-width: 480px) {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 10px;

        .image-container {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .text-container {
            padding-left: 0;

            .value {
                padding-right: 0;

                h1 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }

            .buttons {
                justify-content: center;
            }
        }
    }
}